<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 footer__topshiftcont">
            <div class="footer__logo-info">
                <div class="footer__logo-title">Агентство по делам юстиции и мировых судей Пермского края</div>
            </div>
        </div>
        <div class="col-12 col-md-7 footer__topshiftconl">
            <div class="row">
                <div class="col-12 col-md-6">
                    <a class="footer__nav-title-link" href="/ob-agentstve/">Об Агентстве</a>
                </div>
                <div class="col-12 col-md-6">
                    <a class="footer__nav-title-link" href="/deyatelnost/">Деятельность</a>
                </div>
                <div class="col-12 col-md-6">
                    <a class="footer__nav-title-link" href="/dokumenty/">Документы</a>
                </div>
                <div class="col-12 col-md-6">
                    <a class="footer__nav-title-link" href="/struktura-ogv">Структура </a>
                </div>
                <div class="col-12 col-md-6">
                    <a class="footer__nav-title-link" href="/novosti">Новости</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer__links">
        <div class="col-12 col-md-4 offset-md-1">
            <a class="footer__link bvi-open" href="#">Версия для слабовидящих</a>
        </div>
        <div class="col-12 col-md-7">
            <a class="footer__nav-title-link" href="/sitemap/">Карта сайта</a>
        </div>
    </div>