<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="breadcrumbs__elems">
                <a class="breadcrumbs__elem" href="/">Главная</a>
                <a class="breadcrumbs__elem" href="/ob-agentstve/">Об Агентстве</a>
                <a class="breadcrumbs__elem" href="/ob-agentstve/gosudarstvennaya-sluzhba-i-kadry/">Государственная служба и кадры</a>
                <a class="breadcrumbs__elem" href="/ob-agentstve/gosudarstvennaya-sluzhba-i-kadry/vakansii/">Вакансии</a>
            </div>
        </div>
        <div class="col-4">Вакансии</div>
    </div>
</div>
<div class="topic template__topic">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="topic__name">Общая информация</div>
                <div class="topic__elems">
                    <a class="topic__elem" href="/ob-agentstve/gosudarstvennaya-sluzhba-i-kadry/vakansii/vakansii">Вакансии Агентства</a>
                    <a class="topic__elem active" href="/ob-agentstve/gosudarstvennaya-sluzhba-i-kadry/vakansii/vakansii-na-sudebnykh-uchastkakh-goroda-permi-i-permskogo-kraya">Вакансии на судебных участках города Перми и Пермского края</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <h1>Вакансии на судебных участках города Перми и Пермского края</h1>
            <div class="content">
                <style> td {border-color: #000000; border-style: solid; border-width: 1px;} </style>
                <div>
                    <p align="justify">В данном разделе для ознакомления размещена информация о вакансиях 
                        <br>на судебных участках города Перми и Пермского края.
                    </p>
                    <p align="justify">Информация обновляется один раз в две недели. 
                        <br>
                    </p>
                    <p align="justify"></p>
                    <table style="border-collapse: collapse;" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        Ведущий инспектор судебного участка № 8 Дзержинского судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="">
                                    <p>
                                        Делопроизводитель судебного участка № 1 Дзержинского судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        Секретарь суда сектора делопроизводства судебных участков Дзержинского судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                         Заведующий сектором, секретарь суда сектора делопроизводства судебных участков Дзержинского судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                         Помощник мирового судьи судебного участка № 1 Индустриального судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td >
                                    <p>
                                         Заведующий сектором, секретарь суда сектора делопроизводства судебных участков № 3,5,8 Индустриального судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                         Секретарь судебного заседания судебного участка № 2 Ленинского судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                         Делопроизводитель судебного участка № 3 Мотовилихинского судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td >
                                    <p>
                                         Делопроизводитель судебного участка № 8 Мотовилихинского судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td >
                                    <p>
                                         Секретарь суда судебного участка № 9 Мотовилихинского судебного района города Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td >
                                    <p>
                                         Секретарь судебного заседания судебного участка № 7 Орджоникидзевского судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                         Секретарь судебного заседания судебного участка № 1 Свердловского судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                         Секретарь суда судебного участка № 3 Свердловского судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                         Секретарь судебного заседания судебного участка № 3 Свердловского судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                         Делопроизводитель судебного участка № 5 Свердловского судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                         Секретарь суда судебного участка № 6 Свердловского судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                         Секретарь судебного заседания судебного участка № 6 Свердловского судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                         Секретарь суда судебного участка № 9 Свердловского судебного района г. Перми
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                         Помощник мирового судьи судебного участка № 2 Губахинского судебного района Пермского края
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                         Секретарь судебного заседания судебного участка № 3 Лысьвенского судебного района Пермского края
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                         Секретарь суда судебного участка № 3 Пермского судебного района Пермского края
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                         Секретарь судебного заседания судебного участка № 5 Пермского судебного района Пермского края
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                    </p>
                    <p style="background-color: #f4f4f4;" align="justify">
                        <br>
                    </p>
                    <p style="background-color: #f4f4f4;" align="justify">Подробную информацию можно получить по телефонам: 260-11-73, 260-15-69, 260-15-89</p>							
                </div>
            </div>
            <div class="row template__docs">
                <div class="col-12">
                </div>
            </div>
        </div>
        <div class="col-md-4 template__submenu">
            <a class="template__submenu-elem" href="/ob-agentstve/gosudarstvennaya-sluzhba-i-kadry/vakansii/vakansii">Вакансии Агентства</a>
            <a class="template__submenu-elem" href="/ob-agentstve/gosudarstvennaya-sluzhba-i-kadry/vakansii/vakansii-na-sudebnykh-uchastkakh-goroda-permi-i-permskogo-kraya">Вакансии на судебных участках города Перми и Пермского края</a>
            <a class="template__submenu-elem" href="http://127.0.0.1:8000/feedback/">Подать заявку на вакансию</a>
            <a class="template__submenu-elem" href="http://127.0.0.1:8000/create/">Задать вопрос</a>
        </div>
    </div>
</div>
