{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Stail.css' %}">
    <title>
        {% block title %}
            Агентство по делам юстиции и мировых судей
        {% endblock %}
    </title>
</head>
<body>
    <header class="header">
        {% include 'includes/header.html' %}     
    </header>
    <section>
        {% include 'includes/section.html' %} 
    </section>
    <footer class="footer">
        {% include 'includes/footer.html' %} 
    </footer>
</body>