{% load static %}
<html lang="ru"><head>
    <meta charset="utf-8">
<title>Новое обращение</title>
<link rel="stylesheet" href="{% static 'css/feedback_style.css' %}">
</head>
<body>
    {% comment %} <div class="contentPage__tracery">
        <div class="contentPage__separator support-ticket-push__container fixSep container" style="max-width: 900px; padding-bottom: 150px;">
            <div class="row">
                <div class="col-12">
                    <h2 class="app-title support__title">Новое обращение</h2>
                </div>
                <div class="col-12">
                    <div class="support-ticket__form support-ticket-push__form">
                        {% csrf_token %}
                        <div class="support-ticket-group">
                            <label for="support_ticket_form_subject_id" class="support-ticket-label control-label">Выберите вакансию:</label>
                            <div class="dropdown bootstrap-select form-control support-select_control">
                                <select id="support_ticket_form_subject_id" class="form-control support-select_control selectpicker" data-live-search="false">
                                    <option value="1">Ошибка: "Social не совпадает с вашим" / отвязка сошиала с аккаунта</option>
                                    <option value="2">Снятие активной защиты (трейд бан) на персонаже</option>
                                    <option value="3">Смена привязанной почты аккаунта (после взлома и др)</option>
                                    <option value="4">Забыл привязанную почту</option>
                                    <option value="5">Проблемы с донатом</option>
                                    <option value="6">Другое</option>
                                </select>
                                <button type="button" tabindex="-1" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="combobox" aria-owns="bs-select-1" aria-haspopup="listbox" aria-expanded="false" data-id="support_ticket_form_subject_id" title="Ошибка: &quot;Social не совпадает с вашим&quot; / отвязка сошиала с аккаунта">
                                    <div class="filter-option">
                                        <div class="filter-option-inner">
                                            <div class="filter-option-inner-inner">Ошибка: "Social не совпадает с вашим" / отвязка сошиала с аккаунта
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <div class="dropdown-menu">
                                    <div class="inner show" role="listbox" id="bs-select-1" tabindex="-1">
                                        <ul class="dropdown-menu inner show" role="presentation"></ul>
                                    </div>
                                </div>
                            </div>
                            <span class="invalid-feedback d-block" role="alert" id="support_ticket_form_subject_id_alert"></span>
                        </div>
                        <div class="support-ticket-group">
                            <label for="support_ticket_form_email" class="support-ticket-label control-label">Почта для связи:</label>
                            <input id="support_ticket_form_email" type="text" placeholder="email@domain.gta" name="support_ticket_form_email" class="">
                            <span class="invalid-feedback d-block" role="alert" id="support_ticket_form_email_alert"></span>
                        </div>
                        <div id="ticket_form" class="collapse show" style="margin-top: 21px;"><div class="support-ticket-group other-support-ticket-group">
                            <label for="support_ticket_form_login" class="support-ticket-label control-label">Имя:</label>
                            <input id="support_ticket_form_login" type="text" placeholder="Login" name="support_ticket_form_login" class="support-ticket-control">
                            <span class="invalid-feedback d-block" role="alert" id="support_ticket_form_login_alert">
                                <strong></strong>
                            </span>
                        </div>
                        <div class="support-ticket-group other-support-ticket-group">
                            <label for="support_ticket_form_main_chars" class="support-ticket-label control-label">Фамилия:</label>
                            <input id="support_ticket_form_main_chars" type="text" placeholder="Nick_Name (Downtown), Nick_Name (Strawberry) ..." name="support_ticket_form_main_chars" class="support-ticket-control">
                            <span class="invalid-feedback d-block" role="alert" id="support_ticket_form_main_chars_alert">
                                <strong></strong>
                            </span>
                        </div>
                        <div class="support-ticket-group other-support-ticket-group">
                            <label for="support_ticket_form_registration" class="support-ticket-label control-label">Отчество:</label>
                            <input id="support_ticket_form_registration" type="text" placeholder="Страна, город" name="support_ticket_form_registration" class="support-ticket-control">
                            <span class="invalid-feedback d-block" role="alert" id="support_ticket_form_registration_alert">
                                <strong></strong>
                            </span>
                        </div>
                        <div class="support-ticket-group other-support-ticket-group">
                            <label for="support_ticket_form_social" class="support-ticket-label control-label">Номер телефона:</label>
                            <input id="support_ticket_form_social" type="text" placeholder="SocialClub" name="support_ticket_form_social" class="support-ticket-control">
                            <span class="invalid-feedback d-block" role="alert" id="support_ticket_form_social_alert">
                                <strong></strong>
                            </span>
                        </div>
                        <div class="support-ticket-group other-support-ticket-group">
                            <label for="support_ticket_form_last_payment" class="support-ticket-label control-label">Серия паспорта:</label>
                            <input id="support_ticket_form_last_payment" type="text" placeholder="01.01.2023 00:00 - 100 DP" name="support_ticket_form_last_payment" class="support-ticket-control">
                            <span class="invalid-feedback d-block" role="alert" id="support_ticket_form_last_payment_alert">
                                <strong></strong>
                            </span>
                        </div>
                        <div class="support-ticket-group other-support-ticket-group">
                            <label for="support_ticket_form_last_payment_docs" class="support-ticket-label control-label">Номер паспорта:</label>
                            <input id="support_ticket_form_last_payment_docs" type="text" placeholder="https://imgur.com or https://imgbb.com" name="support_ticket_form_last_payment_docs" class="support-ticket-control">
                            <span class="invalid-feedback d-block" role="alert" id="support_ticket_form_last_payment_docs_alert">
                                <strong></strong>
                            </span>
                        </div>
                        <div class="support-ticket-group other-support-ticket-group">
                            <label for="support_ticket_form_last_payment_docs" class="support-ticket-label control-label">Ссылка на облачное хранилище где расоложен документ об окончании обучения на выбранную вами специальность:</label>
                            <input id="support_ticket_form_last_payment_docs" type="text" placeholder="https://imgur.com or https://imgbb.com" name="support_ticket_form_last_payment_docs" class="support-ticket-control">
                            <span class="invalid-feedback d-block" role="alert" id="support_ticket_form_last_payment_docs_alert">
                                <strong></strong>
                            </span>
                        </div>
                        <div class="support-ticket-group other-support-ticket-group">
                            <label for="support_ticket_form_social_change_reason" class="support-ticket-label control-label">Почему именно эта вакансия:</label>
                            <span class="invalid-feedback d-block" role="alert" id="support_ticket_form_social_change_reason_alert">
                                <strong></strong>
                            </span>
                            <textarea id="support_ticket_form_social_change_reason" placeholder="Потерял доступ к старому" name="support_ticket_form_social_change_reason" class="support-ticket-control support-ticket-textarea" minlength="10"></textarea>
                        </div>
                    </div> {% endcomment %}
                    <form action="{% url 'formstart:feedback_form' %}" method="post" class="support-ticket__form support-ticket-push__form">
                        {% csrf_token %}
                        <div class="col-12">
                            {% for field in form %}
                                <div for="support_ticket_form_email" class="support-ticket-label control-label">
                                    {{ field.label }}
                                </div>
                                <div class="invalid-feedback d-block">{{ field }}</div>
                            {% endfor %}
                            <button class="support-ticket__submit" type="submit">Отправить</button>
                        </div>
                    <p></p>
                    </form>
                    <div id="support_ticket_form_alert_block" class="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
</body>
</html>